
/***************************************
			HERADER
**************************************/
.menu-lista > li > a{
    color:#fff;
}
.menu-lista > li .dropdown > a{
    color:#fff;
}
.logado {
    display: none;
}